.features-table
{
  width: 700px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;  
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff)); 
}

.features-table td
{
  height: 30px;
  line-height: 45px;
  padding: 0 10px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.features-table tbody td
{
  text-align: center;
  font: normal 12px Verdana, Arial, Helvetica;
  width: 150px;
}

.features-table tbody td:first-child
{
  width: auto;
  text-align: left;
}


.features-table td:nth-child(2), .features-table td:nth-child(3)
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid white;
}


.features-table td:nth-child(4)
{
  background: #e7f3d4;  
  background: rgba(184,243,85,0.3);
}

/*Header*/
.features-table thead td
{
  font: bold 1em 'trebuchet MS', 'Lucida Sans', Arial;  
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea; 
}

.features-table thead td:first-child
{
  border-top: none;
}

/*Footer*/
.features-table tfoot td
{
  /*font: bold 12px Georgia;*/
  font: bold 1em 'trebuchet MS', 'Lucida Sans', Arial;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.features-table tfoot td:first-child
{
  border-bottom: none;
}




.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#27cbc4), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #27cbc4, #dce9f9);
    background-image:    -moz-linear-gradient(top, #27cbc4, #dce9f9);
    background-image:     -ms-linear-gradient(top, #27cbc4, #dce9f9);
    background-image:      -o-linear-gradient(top, #27cbc4, #dce9f9);
    background-image:         linear-gradient(top, #27cbc4, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.par-about-bg {
    width: 331px;
    position: absolute;
    margin-top: 25px;
    margin-left: -176px;
    z-index: 1000;
    -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.6);
}

.par-about-img {
    position: absolute;
    z-index: 1001;
    margin-top: 15px;
    margin-left: -176px;
    width: 321px;
}

.par-about-inner {
    width: 301px;
    text-align: left;
    padding: 15px;
    font: normal 12px Verdana,Tahoma,Geneva;
    background-color: white;
	white-space: normal;
}

.par-about-inner div {
    font: bold 14px Verdana,Tahoma,Geneva;
    white-space: normal;
    letter-spacing: normal;
    padding: 0 0 10px;
}
div.par-name, div.par-about-q {
        position: relative;
        float: left;
}

div.par-name {
        white-space: nowrap;
}

.par-about-q {
    padding-right: 8px;
}
.ie-shadow {
        display: none;
}

.par-q-link {
        padding-right: 5px;margin-right: 5px;padding-left: 5px; text-decoration: none;
}
a.par-q-link-img, a.par-q-link-img:hover {
        text-decoration: none;
}

.pdinfohead {
    font-weight: bold;
    width: 35%;
}
.pdinfohead a:hover { color:#034B83 }
