button{
cursor: hand;
}

#clients #wrap{height: 400px;margin: 0px auto 0 auto;}
#clients {
background: url(../images/clients_bg.jpg) no-repeat;
width: 100%;
background-size: cover;
padding: 15px 0 1px 0;
color: #fff;
min-width: 1040px;
height: 460px;
}
ul.service li a span {
height: 140px;
width: 141px;
display: block;
margin: 0 auto;
margin: 0 auto 10px auto;
cursor: pointer
}
ul.service li a.seo span{background: url(../images/service.png) -282px -140px no-repeat;}
ul.service li a.seo:hover span{background: url(../images/service.png) -423px -140px no-repeat;}
ul.service li a.audit span{background: url(../images/service.png) 0px 0 no-repeat;}
ul.service li a.audit:hover span{background: url(../images/service.png) -140px 0 no-repeat;}
ul.service li a.kontekst span{background: url(../images/service.png) 0px -140px no-repeat;}
ul.service li a.kontekst:hover span{background: url(../images/service.png) -142px -140px no-repeat;}
ul.service li a.copy span{background: url(../images/service.png) -282px 0px no-repeat;}
ul.service li a.copy:hover span{background: url(../images/service.png) -423px 0px no-repeat;}

#main .blog .post_info .pub_date{
margin: 0 auto;
display: block;
width: 110px;
text-align: center;
padding-left: 0;
}

#minfo form {
margin: 5px 0 0 0px;
}

#clients ul.brands {
list-style:none;
}




.brands_carousel .jcarousel-next-horizontal {
top: 65px;
}
.brands_carousel .jcarousel-prev-horizontal {
top: 65px;
}
.brands_carousel .jcarousel-prev-horizontal:hover, 
.brands_carousel .jcarousel-prev-horizontal:focus {
    background-position: -26px 0;
}
.brands_carousel .jcarousel-item {
width: 148px;
text-align: center;
margin: 20px 10px 20px 0px;
}






.brands_carousel_inside_page ul.brands {
list-style:none;
}




.brands_carousel_inside_page .jcarousel-next-horizontal {
top: 65px;
}
.brands_carousel_inside_page .jcarousel-prev-horizontal {
top: 65px;
}
.brands_carousel_inside_page .jcarousel-prev-horizontal:hover, 
.brands_carousel_inside_page .jcarousel-prev-horizontal:focus {
    background-position: -26px 0;
}
.brands_carousel_inside_page .jcarousel-item {
width: 148px;
text-align: center;
margin: 20px 10px 20px 0px;
}
