.jcarousel-skin-tango .jcarousel-container {

}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 796px;
    padding: 20px 40px;
	margin: 0 auto;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  796px;

}
.jcarousel-skin-tango .jcarousel-item {
    width: 180px;

}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 25px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 85px;
    right: -20px;
    width: 25px;
    height: 50px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -25px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -50px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -75px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
	top: 85px;
    left: -20px;
    width: 25px;
    height: 50px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -25px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -50px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -75px 0;
}

/********************* Бренды *******************/

.brands_carousel .jcarousel-container {

}
.brands_carousel .jcarousel-direction-rtl {
	direction: rtl;
}
.brands_carousel .jcarousel-container-horizontal {
    width: 940px;
    padding: 20px 40px;
	margin: 0 auto;
}
.brands_carousel .jcarousel-clip {
    overflow: hidden;
}
.brands_carousel .jcarousel-clip-horizontal {
    width:  940px;

}
.brands_carousel .jcarousel-item {
width: 148px;
text-align: center;
}
.brands_carousel .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}
.brands_carousel .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.brands_carousel .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


.brands_carousel .jcarousel-next-horizontal {
    position: absolute;
    top: 44px;
    right: 15px;
    width: 25px;
    height: 50px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.brands_carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}

.brands_carousel .jcarousel-next-horizontal:hover,
.brands_carousel .jcarousel-next-horizontal:focus {
    background-position: -25px 0;
}

.brands_carousel .jcarousel-next-horizontal:active {
    background-position: -50px 0;
}

.brands_carousel .jcarousel-next-disabled-horizontal,
.brands_carousel .jcarousel-next-disabled-horizontal:hover,
.brands_carousel .jcarousel-next-disabled-horizontal:focus,
.brands_carousel .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -75px 0;
}

.brands_carousel .jcarousel-prev-horizontal {
    position: absolute;
	top: 44px;
    left: 15px;
    width: 25px;
    height: 50px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.brands_carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}

.brands_carousel .jcarousel-prev-horizontal:hover, 
.brands_carousel .jcarousel-prev-horizontal:focus {
    background-position: -25px 0;
}

.brands_carousel .jcarousel-prev-horizontal:active {
    background-position: -50px 0;
}

.brands_carousel .jcarousel-prev-disabled-horizontal,
.brands_carousel .jcarousel-prev-disabled-horizontal:hover,
.brands_carousel .jcarousel-prev-disabled-horizontal:focus,
.brands_carousel .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -75px 0;
}










/********************* Бренды на внутренних *******************/

.brands_carousel_inside_page .jcarousel-container {

}
.brands_carousel_inside_page .jcarousel-direction-rtl {
	direction: rtl;
}
.brands_carousel_inside_page .jcarousel-container-horizontal {
    width: 620px;
    padding: 20px 40px;
	margin: 0 auto;
}
.brands_carousel_inside_page .jcarousel-clip {
    overflow: hidden;
}
.brands_carousel_inside_page .jcarousel-clip-horizontal {
    width:  620px;

}
.brands_carousel_inside_page .jcarousel-item {
width: 105px;
text-align: center;
}
.brands_carousel_inside_page .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}
.brands_carousel_inside_page .jcarousel-item-horizontal img{
height: 70px;
-webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
         -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: url(filters.svg#grayscale); /* Firefox 4+ */
          filter: gray; /* IE 6-9 */
}
.brands_carousel_inside_page .jcarousel-item-horizontal img:hover{
-webkit-filter: grayscale(0%);
         -moz-filter: grayscale(0%);
         -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
          filter: grayscale(0%);
          filter: none; /* Firefox 4+ */
          filter: gray; /* IE 6-9 */
}
.brands_carousel_inside_page .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.brands_carousel_inside_page .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


.brands_carousel_inside_page .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 15px;
    width: 25px;
    height: 50px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.brands_carousel_inside_page .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}

.brands_carousel_inside_page .jcarousel-next-horizontal:hover,
.brands_carousel_inside_page .jcarousel-next-horizontal:focus {
    background-position: -25px 0;
}

.brands_carousel_inside_page .jcarousel-next-horizontal:active {
    background-position: -50px 0;
}

.brands_carousel_inside_page .jcarousel-next-disabled-horizontal,
.brands_carousel_inside_page .jcarousel-next-disabled-horizontal:hover,
.brands_carousel_inside_page .jcarousel-next-disabled-horizontal:focus,
.brands_carousel_inside_page .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -75px 0;
}

.brands_carousel_inside_page .jcarousel-prev-horizontal {
    position: absolute;
	top: 43px;
    left: 15px;
    width: 25px;
    height: 50px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.brands_carousel_inside_page .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}

.brands_carousel_inside_page .jcarousel-prev-horizontal:hover, 
.brands_carousel_inside_page .jcarousel-prev-horizontal:focus {
    background-position: -25px 0;
}

.brands_carousel_inside_page .jcarousel-prev-horizontal:active {
    background-position: -50px 0;
}

.brands_carousel_inside_page .jcarousel-prev-disabled-horizontal,
.brands_carousel_inside_page .jcarousel-prev-disabled-horizontal:hover,
.brands_carousel_inside_page .jcarousel-prev-disabled-horizontal:focus,
.brands_carousel_inside_page .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -75px 0;
}









@media only screen and (max-width: 880px){
	.brands_carousel .jcarousel-container-horizontal {
		width: 80%;
	}
	.brands_carousel .jcarousel-clip-horizontal {
		width: 100%;
	}
	.brands_carousel .jcarousel-item {
		width: 80px;
	}
	.brands_carousel .jcarousel-prev-horizontal {
		top: 27px;
		left: 0px;
	}
	.brands_carousel .jcarousel-next-horizontal {
		top: 27px;
		right: 0px;
	}


}