#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	width: 200px; 
	color:#000;
	font-size: 12px;
	font-weight: normal!important;
}
#tooltip h3, #tooltip div { margin: 0; }
