.hidden { 
display:none!important;
}

.buttons {
margin: 30px 0 15px 0;
text-align: center;
}


#load {
background: rgba(255, 255, 255, 0.83);
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 9999;
}
#load  span{
position: absolute;
top: 50%;
left: 50%;
font-weight: bold;
text-align:center;
}


.gridItem img {
cursor: help;
}

.total {
width: 40%;
background: #0A5BC4;
min-width: 350px;
padding: 10px 0;
margin: 0 auto;
}
#tabhome .total {
margin: 0!important;
}

.total .dates{
color: #FFF;
font-size: 160%;
text-align: center;
font-weight: bold;
margin: 0 0 10px 0;
}
.total .big {
margin: 0 auto;
width: 95%;
min-width: 265px;
}
.total .big .cell{
float: left;
width: 30%;
background: #77B900;
margin: 0 1.5%;
min-width: 80px;
}
.total .big .cell span.name{
display: block;
color: #FFF;
text-align: right;
margin: 3px 3px 0 0;
}
.total .big .cell span.value{
font-size: 200%;
text-align: center;
display: block;
margin: 15px 0 0 0;
margin: 10% 0;
}

.total .small {
width: 94.9%;
min-width: 332px;
padding: 0 0% 0 4%;
}

.total .small .cell{
background: #691BB8;
float: left;
width: 23.8%;
min-width: 78px;
border-right: 1px solid #FFF;
color: #FFF;
}
.total .small .cell.last{ 
border-right: none;
}

.total .small .cell .name{
display: block;
text-align: center;
}
.total .small .cell .value{
font-size: 150%;
margin: 0 0 0 10px;
}