.multitv { position: relative }

.multitv .heading { padding-left: 20px; clear: left }
.multitv .heading span { border: 1px solid transparent }

.multitv .list { margin: 0; padding: 0; clear: left; position: relative }
.multitv .list li.element { position: relative; padding: 4px 4px 4px 20px; margin-bottom: 4px; border: 1px solid #e3e3e3; background: url('images/arrow_updown.png') no-repeat left center; list-style: none }
.multitv .list li.element { min-width: 600px }
.multitv .list li.element.hasthumb { }

.multitv .list li.element.inline { display: list-item }
.multitv .list li.element.inline a { display: block; float: left; padding: 3px; margin: 0 5px 0 0 }

.multitv .list li.element.single { padding: 10px; background: none; list-style: none }

.multitv .list li.element label { display: inline-block; width: 150px }
.multitv .list li.element select.inline { margin-right: 9px }
.multitv .list li.element a.copy, .multitv .list li.element a.remove { position: absolute; right: 22px; top: 7px; background: url('images/add.png') no-repeat left center; display: block; width: 16px; height: 16px; text-indent: -2000px; padding: 0 }
.multitv .list li.element a.remove { right: 4px; background-image: url('images/delete.png') }

.multitv .list li.element table.url { width: 300px; display: inline-block }
.multitv .list li.element table.url input[type="text"] { width: 221px !important }

.multitv .list li.element .inline, .multitv .heading .inline { display: block; float: left; width: 300px; padding: 3px; margin: 0 5px 0 0 }
.multitv .list li.element .inline[type="checkbox"] { margin-top: 7px }
.multitv .list li.element .inlinelabel { width: auto }

.multitv .list li.element .DatePicker { padding: 3px 3px 3px 24px }

.multitv .list li.element .tvimage { float: right; margin-right: 12px; width: 96px }
.multitv .list li.element .tvimage img { width: 96px; height: auto }
.multitv .list li.element .thumb { border: 1px solid #ccc !important }

.multitv .list li.element .tvimage.inline { float: left; margin-right: 5px; width: 26px }
.multitv .list li.element .tvimage.inline img { position: absolute; width: 26px; height: 26px; z-index: 1 }
.multitv .list li.element .tvimage.inline img:hover { width: auto; height: auto; z-index: 2 }

.multitv .hidden { display: none }

.multitv .tvedit, .multitv .tvclear, .multitv .tvpaste { float: left; margin-right: 10px }

.multitv .dataTables_wrapper a { text-decoration: none }
.multitv .dataTables_wrapper .dataTables_filter input { width: auto !important }
.multitv .dataTables_wrapper .actionButtons { margin-bottom: 9px }
.multitv .dataTables_wrapper .actionButtons a.disabled { padding: 4px 6px; border: 1px solid #c7ced2 }
.multitv table.display { width: 100%; background-color: #fff; border: 1px solid silver; border-collapse: separate; border-spacing: 0; table-layout: fixed }
.multitv table.display thead { color: #333; height: 18px !important; background-color: #e4e4e4 }
.multitv table.display tr.odd { background-color: #eee }
.multitv table.display tr.even { background-color: #fff }
.multitv table.display tr.odd td.sorting_1 { background-color: #e7e7e7 }
.multitv table.display tr.odd td.sorting_2 { background-color: #eaeaea }
.multitv table.display tr.odd td.sorting_3 { background-color: #ededed }
.multitv table.display tr.even td.sorting_1 { background-color: #f7f7f7 }
.multitv table.display tr.even td.sorting_2 { background-color: #fafafa }
.multitv table.display tr.even td.sorting_3 { background-color: #fefefe }
.multitv table.display th { border: 1px solid #fff; color: #fff; font-weight: bold; background-color: #88939e }
.multitv table.display tr.even > td, .multitv table.display tr.odd > td { border: 1px solid #fff; border-top: none }
.multitv table.display tr.even > td:first-child, .multitv table.display tr.odd > td:first-child, .multitv table.display tr > th:first-child { border-right: none }
.multitv table.display td.handle { background-image: url('images/arrow_updown.png'); background-repeat: no-repeat; background-position: center center; text-indent: -999em; cursor: pointer }
.multitv table.display th, .multitv table.display td { text-overflow: ellipsis; overflow:hidden }
.multitv table.display tr.row_selected td { background-color: #ccc !important }
.multitv table.display.hideHeader thead { font-size: 0px; color: transparent; background-color: transparent }
.multitv table.display.hideHeader thead th { padding: 0 18px 0 10px; border-bottom: none }

.tveditform { width: 590px }
.tveditform .formtabpage label { display: block; margin-top: 10px }
.tveditform .formtabpage select, .tveditform .formtabpage input { width: 300px }
.tveditform .formtabpage textarea { width: 306px }
.tveditform .formtabpage input.DatePicker { width: 203px; padding: 3px 3px 3px 24px }
.tveditform .formtabradio { display: inline-block; zoom: 1; color: #313131; font-weight: normal; font-size: 12px; cursor: pointer; margin: 3px 5px 3px 0px; padding: 0 }
.tveditform .formtabradio input { display: inline-block; margin-right: 5px; position: relative; top: -1px }
.tveditform .formtabradio a { text-decoration: none; color: #313131 }
.tveditform .actionButtons { margin-bottom: 5px }

#ui-datepicker-div { z-index: 9999999 !important;}

.tvpasteform { width: 450px }
.tvpasteform .pastearea, .tvpasteform .buttons { width: 438px } 
.tvpasteform .legend { float: left; margin-left: 5px }
.tvpasteform .pastearea { width: 418px; height: 215px; overflow: hidden; border: 1px solid #e3e3e3; padding: 10px; margin: 0 auto 10px; clear: left }
.tvpasteform .radios { float: right; margin: 0 5px 5px 0 } 
.tvpasteform .radio { margin: 2px 5px 5px }
.tvpasteform .buttons { text-align: right; margin: 0 auto 0 }
.tvpasteform .buttons li { margin-right: 0; margin-left: 10px }

.bonus {
width: 300px!important;
margin-right: 50px!important;
}
#tv17list input,#tv18list input,#tv22list input {
width: 65px!important;
font-size: 10px;
padding: 0 1px;
text-align: center;
}
#tv18list input.bonus{
width: 300px!important;
margin-right: 50px!important;
font-size: inherit;
text-align: left;
padding: 3px;
margin: 0 5px 0 0;
}
#tv17list input.bonus {
/*visibility: hidden;*/
width: 300px!important;
margin-right: 50px!important;
font-size: inherit;
text-align: left;
padding: 3px;
margin: 0 5px 0 0;
}

#tv17list input.micro {
margin: 0 0 0 0px;
}
#tv17list input.optima,#tv18list input.optima,#tv22list input.optima {
margin: 0 0 0 8px;
}
#tv17list input.business,#tv18list input.business,#tv22list input.business {
margin: 0 0 0 10px;
}
#tv17list input.premium,#tv18list input.premium,#tv22list input.premium {
margin: 0 0 0 16px;
}
#tv18list input.micro,#tv18list input.optima,#tv18list input.business,#tv18list input.premium,#tv22list input.micro,#tv22list input.optima,#tv22list input.business,#tv22list input.premium {
margin-top: 3px;
}
.micro {width: 70px!important;}
.optima {width: 70px!important;}
.business {width: 75px!important;}
.premium {width: 85px!important;}
 
#tv21list textarea.bonus,  #tv22list textarea.bonus {
  margin-left: -313px!important;
  }
 #tv18list textarea.bonus, #tv21list textarea.bonus,  #tv22list textarea.bonus {
height: 18px;

}
#tv17heading span.bonus,#tv17heading span.micro,#tv17heading span.optima,#tv17heading span.business, #tv17heading span.premium {
font-size: 16px;
text-align: center;
padding: 0!important;
}
#tv18list a.copy,#tv17list a {
display:none!important;
}

textarea.descr {
margin-top: 35px!important;
}
input.bonus,input.micro,input.optima,input.business,input.premium {
}