/*
 * simple demo stylesheet for the EasyPoll Snippet v.0.2
 */

@CHARSET "UTF-8";

.easypoll {
	margin:40px 0;
}


.pollvotes, .pollresults {
    max-width:185px;
	margin-left: 12px;
    background-color:#ccc;
    padding:10px;
}

.pollvotes h3, .pollresults h3 {
    margin-top:0px;
	margin-bottom:10px;
    font-size:11pt;
	font-weight:normal;
    color:#000;
}

.pollvotes ul, .pollresults ul {
	list-style:none;
    padding:0;
	margin-bottom:15px;
	font-size:10pt;
}

.pollresults ul {
	font-size: 8pt;
}

.pollvotes ul li {
	margin-bottom:5px;
}

.pollvotes ul li input {
	margin:0;
}

.easypoll fieldset {
    border:none;
    margin:0;
    padding:0;
}

.easypoll input.pollbutton {
    border:1px solid #000;
    color:#fff;
    background-color:#555;
}

.easypoll input:hover {
    background-color:#777;
}

.easypoll_bar {
    height:8px;
    background-color:#FFF;
	margin-top:0;
	margin-bottom:10px;
}

.easypoll_inner {
    height:100%;
    background:url('pollbar.png') repeat-x top left;
    background-color:#f00;
}

.pollresults p {
	font-size:10pt;
}

.easypoll_error {
    max-width:185px;
	margin-left: 12px;
	font-size: 10pt;
    border:1px solid #000;
    background-color:#FAA;
    padding:10px;
}