
.main{
margin: 10px auto 0px auto;
border: 1px solid #B3B3B3;
padding: 10px;
width: 400px;
}
.main .head {
border-bottom: dotted 1px #B3B3B3;
margin: 0 0 15px 0;
}
.main .head .left {
float: left;
width: 200px;
}
.main .head .right {
float: left;
width: 190px;
padding: 0;
margin: 18px 0 0 0;
text-align: center;
font-size: 14px;
}

.mainList {
background: #fff;
padding: 10px;
}

.main .head .left .title{
font-size: 30px;
margin: 0;
}
.main .head .left .date{
margin: -3px 0px 5px 0px;
padding: 0 0 0px 15px;
font-size: 11px;
}

.main .info, .main .areas {
font-size: 14px;
}
.main .areas textarea{
width: 390px;
}
.main .buttons {
float: right;
margin: 10px 0;
}
.main .buttons .save{
color: #005C12;
}
.main .buttons .back{
color: #960000;
}
.addBlock {
margin: 2px 0 10px 0;
}
.addBlock button.add {
width: 150px;
padding: 4px 7px;
color: rgb(0, 92, 18);
}
.addBlock button.add img {
float: left;
padding: 1px 0px 0px;
}
.copy{
padding: 15px 10px 0px 20px;
}
.copy h1 {
padding: 0px;
margin: 0px;
}
.copy .left  {
float:left;
width: 400px;
}
.copy .right  {
float:right;
width: ;
}
.copy .info {
color: rgb(81, 134, 170);
text-decoration: none;
}
.copy .info:hover {
text-decoration: underline;
}
.copy .info img {
float: left;
padding: 1px 0px 0px;
}


table.faqList {width: 100%}
table.faqList td{text-align: center;}
table.faqList td.name{width: 100px;}
table.faqList td.date{width: 135px;}
table.faqList td{text-align: center;}
table.faqList td{text-align: center;}
table.faqList tbody td.message{text-align: left;width: 680px;}
table.faqList tbody td {cursor: pointer;}
table.faqList tbody tr:hover {background: #ECECEC; cursor: pointer;}

table.faqList .unread span{
color: #F03;
font-weight: bold;
}
table.faqList .pub span{
color: #0B8B00;
font-weight: bold;
}
table.faqList .unreply span{
color: #00199B;
font-weight: bold;
}
table.faqList .unpub span{
color: #70703C;
font-weight: bold;
}

.mainList .actions {
border-top: 1px dotted rgb(228, 228, 228);
margin: 10px 0 0 0;
padding: 10px;
}
.mainList .actions select {
padding: 3px;
margin: 5px 0 10px 0;
}

.mainHelp {
background: #fff;
padding: 10px 20px;
}


.message {
border-top: 1px solid #7C7C7C;
border-left: 1px solid #7C7C7C;
border-bottom: 1px solid #E7E3E3;
border-right: 1px solid #E7E3E3;
padding: 7px 5px 7px 9px;
background: #F1F1F1;
}

.chk {width:50px}


.chk_all{
width: 52px;
display: block;
text-align: center;
margin: 5px 0 0 0;
}

.red {
color: #F03;
}

.green {
color: #4EAD41;
}